[Unit]
Description=Generate Volume Size Metrics
After=network.target

[Service]
Type=oneshot
User=root
ExecStart=/opt/cloudland/scripts/metering/generate_volume_size_metrics.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
