groups:
- name: bw_in_{{ owner }}_{{ rule_group }}
  rules:
  - alert: HighBWInUsage_{{ owner }}_{{ rule_group }}
    expr: |
      (
        rate(libvirt_domain_interface_stats_receive_bytes_total[1m]) * 8 > {{ in_threshold }}
      ) and on(domain, device) group_left(rule_id, instance_id, target_device)
      (
        label_replace(up{job="vm-group-metadata", rule_id=~"alarm-bw-.*-{{ rule_group }}"}, "device", "$1", "target_device", "(.*)")
      )
    for: {{ in_duration }}s
    labels:
      severity: '{{ if $labels.rule_id }}critical{{ else }}warning{{ end }}'
      matched: '{{ if $labels.rule_id }}true{{ else }}false{{ end }}'
      rule_group: "{{ rule_group }}"
      alert_type: bw
      owner: "{{ owner }}"
      email: "{{ email | default('') }}"
      action: "{{ action | default('false') }}"
      target_device: "{{ $labels.target_device | default($labels.device) }}"
    annotations:
      summary: "High Network In Speed ({{ $value }} bps)"
      description: "VM {{ $labels.domain }} interface {{ $labels.device }} has high network in speed or is matched for {{ in_duration }} seconds"

  - alert: BWInUsageRecovered_{{ owner }}_{{ rule_group }}
    expr: |
      (
        rate(libvirt_domain_interface_stats_receive_bytes_total[1m]) * 8 < {{ in_down_to }}
      ) and on(domain, device) group_left(rule_id, instance_id, target_device)
      (
        label_replace(up{job="vm-group-metadata", rule_id=~"alarm-bw-.*-{{ rule_group }}"}, "device", "$1", "target_device", "(.*)")
      )
    for: {{ in_down_duration }}s
    labels:
      severity: '{{ if $labels.rule_id }}info{{ else }}info{{ end }}'
      matched: '{{ if $labels.rule_id }}true{{ else }}false{{ end }}'
      rule_group: "{{ rule_group }}"
      alert_type: bw
      owner: "{{ owner }}"
      email: "{{ email | default('') }}"
      action: "{{ action | default('false') }}"
      target_device: "{{ $labels.target_device | default($labels.device) }}"
    annotations:
      summary: "Network In Speed Recovered ({{ $value }} bps)"
      description: "VM {{ $labels.domain }} interface {{ $labels.device }} network in speed has dropped below threshold for {{ in_down_duration }} seconds"