groups:
- name: bw_out_{{ owner }}_{{ rule_group }}
  rules:
  - alert: HighBWOutUsage_{{ owner }}_{{ rule_group }}
    expr: |
      (sum by (domain) (rate(libvirt_domain_interface_stats_transmit_bytes_total[1m])))
      > {{ out_threshold }}
      OR ON (domain) group_left(__meta_rule_id) (vm_in_matched_list{__meta_rule_id=~".*-{{ rule_group }}"} == 1)
    for: {{ out_duration }}s
    labels:
      severity: '{{ "{{ if $labels.__meta_rule_id }}critical{{ else }}warning{{ end }}" }}'
      matched: '{{ "{{ if $labels.__meta_rule_id }}true{{ else }}false{{ end }}" }}'
      rule_group: "{{ rule_group }}"
      alert_type: bw
      owner: "{{ owner }}"
      email: "{{ email | default('') }}"
      action: "{{ action | default('false') }}"
      target_device: "{{ target_device | default('') }}"
    annotations:
      summary: "High Network Out Usage ({{ "{{ $value }}" }})"
      description: "VM {{ "{{ $labels.domain }}" }} has high network out usage for {{ out_duration }} seconds"
  - alert: BWOutUsageRecovered_{{ owner }}_{{ rule_group }}
    expr: |
      (sum by (domain) (rate(libvirt_domain_interface_stats_transmit_bytes_total[1m])))
      < {{ out_down_to }}
      OR ON (domain) group_left(__meta_rule_id) (vm_in_matched_list{__meta_rule_id=~".*-{{ rule_group }}"} == 1)
    for: {{ out_down_duration }}s
    labels:
      severity: '{{ "{{ if $labels.__meta_rule_id }}info{{ else }}info{{ end }}" }}'
      matched: '{{ "{{ if $labels.__meta_rule_id }}true{{ else }}false{{ end }}" }}'
      rule_group: "{{ rule_group }}"
      alert_type: bw
      owner: "{{ owner }}"
      email: "{{ email | default('') }}"
      action: "{{ action | default('false') }}"
      target_device: "{{ target_device | default('') }}"
    annotations:
      summary: "Network Out Usage Recovered ({{ "{{ $value }}" }})"
      description: "VM {{ "{{ $labels.domain }}" }} network out usage has recovered below threshold for {{ out_down_duration }} seconds" 