{{template "_head" .}}
    <div class="admin user">
	    <div class="ui container">
		    <div class="ui grid">
                {{template "_left" .}}
          	    <div class="twelve wide column content">
		            <h4 class="ui top attached header">
			            {{.i18n.Tr "Hypervisors_View_Panel"}} ({{.i18n.Tr "Total"}}: {{.Total}})
			            <div class="ui right">
				            {{template "_column_selector" .}}
			            </div>
		            </h4>
		            <div class="ui attached segment">
			            <form class="ui form">
	                        <div class="ui fluid tiny action input">
	                            <input name="q" value="{{ .Query }}" placeholder="Search..." autofocus>
	                            <button class="ui blue tiny button">{{.i18n.Tr "Search"}}</button>
	                        </div>
                        </form>
		            </div>
		            <div class="ui unstackable attached table segment">
                        <table class="ui unstackable very basic striped table">
	                        <thead>
		                        <tr>
			                        <th data-column="Hostid">{{.i18n.Tr "HyperID"}}</th>
			                        <th data-column="Hostname">{{.i18n.Tr "Hostname"}}</th>
			                        <th data-column="Parentid">{{.i18n.Tr "ParentID"}}</th>
			                        <th data-column="CpuModel">{{.i18n.Tr "Cpu Model"}}</th>
			                        <th data-column="HostIP">{{.i18n.Tr "HostIP"}}</th>
			                        <th data-column="RouteIP">{{.i18n.Tr "HostIP"}}</th>
			                        <th data-column="Status">{{.i18n.Tr "Status"}}</th>
			                        <th data-column="Zone">{{.i18n.Tr "Zone"}}</th>
			                        <th data-column="Cpu">{{.i18n.Tr "Cpu"}}</th>
			                        <th data-column="Memory">{{.i18n.Tr "Memory"}}(MB)</th>
			                        <th data-column="Disk">{{.i18n.Tr "Disk"}}(GB)</th>
			                        <th data-column="OverCommitRates">{{.i18n.Tr "Over Commit Rates"}}</th>
			                        <th data-column="Remark">{{.i18n.Tr "Remark"}}</th>
			                        <th data-column="Action">{{.i18n.Tr "Operations"}}</th>
		                        </tr>
	                        </thead>
	                        <tbody>
                                {{ $Link := .Link }}
                                {{ range .Hypers }}
                                {{ $HyperID := .ID }}
		                        <tr>
			                        <td data-column="Hostid"><a href="{{$Link}}/edit?host_id={{.Hostid}}">{{.Hostid}}</a></td>
			                        <td data-column="Hostname"><a href="{{$Link}}/edit?host_id={{.Hostid}}">{{.Hostname}}</a></td>
			                        <td data-column="Parentid">{{.Parentid}}</td>
			                        <td data-column="CpuModel">{{.CpuModel}}</td>
			                        <td data-column="HostIP">{{.HostIP}}</td>
			                        <td data-column="HostIP">{{.RouteIP}}</td>
			                        <td data-column="Status">{{.GetStatus}}</td>
			                        <td data-column="Zone">{{ if .Zone}}{{.Zone.Name}}{{end}}</td>
			                        <td data-column="Cpu">{{.Resource.Cpu}}/<br>{{.Resource.CpuTotal}}</td>
			                        <td data-column="Memory">{{.Resource.Memory}}/<br>{{.Resource.MemoryTotal}}</td>
			                        <td data-column="Disk">{{.Resource.Disk}}/<br>{{.Resource.DiskTotal}}</td>
			                        <td data-column="OverCommitRates">CPU: {{.CpuOverRate}}<br>MEM: {{.MemOverRate}}<br>DISK: {{.DiskOverRate}}</td>
			                        <td data-column="Remark">{{.Remark}}</td>
			                        <td data-column="Action">
										{{ if eq .Status 1 }}
			                        <div class="ui green basic button disable-hyper-button" data-url="{{$Link}}/set_status?host_id={{.Hostid}}&status=0" data-hostname="{{.Hostname}}"><a href="{{$Link}}/set_status?host_id={{.Hostid}}&status=0">{{$.i18n.Tr "Disable"}}</a></div>
										{{ else }}
			                        <div class="ui red basic button enable-hyper-button" data-url="{{$Link}}/set_status?host_id={{.Hostid}}&status=1" data-hostname="{{.Hostname}}"><a href="{{$Link}}/set_status?host_id={{.Hostid}}&status=1">{{$.i18n.Tr "Enable"}}</a></div>
										{{ end }}
			                        </td>
		                        </tr>
                                {{ end }}
	                        </tbody>
                        </table>
		            </div>
		            {{template "_pagination" .}}
	            </div>
            </div>
        </div>
    </div>
</div>
<!-- Disable Hypervisor Modal -->
<div class="ui small basic disable-hyper modal">
    <div class="ui icon header">
        <i class="power off icon"></i>
        {{.i18n.Tr "Disable Hypervisor"}}
    </div>
    <div class="content">
        <p>{{.i18n.Tr "disable_hypervisor_confirm"}} <span id="disable-hyper-hostname"></span>?</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            {{.i18n.Tr "No"}}
        </div>
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            {{.i18n.Tr "Yes"}}
        </div>
    </div>
</div>
<!-- Enable Hypervisor Modal -->
<div class="ui small basic enable-hyper modal">
    <div class="ui icon header">
        <i class="power off icon"></i>
        {{.i18n.Tr "Enable Hypervisor"}}
    </div>
    <div class="content">
        <p>{{.i18n.Tr "enable_hypervisor_confirm"}} <span id="enable-hyper-hostname"></span>?</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            {{.i18n.Tr "No"}}
        </div>
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            {{.i18n.Tr "Yes"}}
        </div>
    </div>
</div>
{{template "_footer" .}}
