{{template "_head" .}}
<div class="admin user">
    <div class="ui container">
        <div class="ui grid">
            {{template "_left" .}}
            <div class="user signup">
                <div class="ui middle very relaxed page grid">
                    <div class="">
                        <form class="ui form" action="{{.Link}}" method="post">
                            <h3 class="ui top attached header">
                                {{.i18n.Tr "Create New IP Whitelist Entry"}}
                            </h3>
                            <div class="ui attached segment">
                                <div class="required inline field">
                                    <label for="instance_uuid">{{.i18n.Tr "InstanceUUID"}}</label>
                                    <input id="instance_uuid" name="instance_uuid" autofocus required placeholder="e.g. xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx">
                                </div>
                                <div class="required inline field">
                                    <label for="ip">{{.i18n.Tr "IP"}}</label>
                                    <input id="ip" name="ip" required placeholder="e.g. 192.168.1.100">
                                </div>
                                <div class="inline field">
                                    <label for="reason">{{.i18n.Tr "Reason"}}</label>
                                    <input id="reason" name="reason" placeholder="Optional reason">
                                </div>
                                <div class="inline field">
                                    <label></label>
                                    <button class="ui green button">{{.i18n.Tr "Create New IP Whitelist Entry"}}</button>
                                    <a class="ui button" href="/ip-whitelists">{{.i18n.Tr "Cancel"}}</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "_footer" .}}
