{{template "_head" .}}
    <div class="admin user">
	    <div class="ui container">
		    <div class="ui grid">
                {{template "_left" .}}
          	    <div class="twelve wide column content">
		            <h4 class="ui top attached header">
			            {{.i18n.Tr "LoadBalancer_Manage_Panel"}} ({{.i18n.Tr "Total"}}: {{.Total}})
			            <div class="ui right">
				            {{template "_column_selector" .}}
				            <a class="ui green tiny button" href="loadbalancers/new">{{.i18n.Tr "Create"}}</a>
			            </div>
		            </h4>
		            <div class="ui attached segment">
			            <form class="ui form">
	                        <div class="ui fluid tiny action input">
	                            <input name="q" value="{{ .Query }}" placeholder="Search..." autofocus>
	                            <button class="ui blue tiny button">{{.i18n.Tr "Search"}}</button>
	                        </div>
                        </form>
		            </div>
		            <div class="ui unstackable attached table segment">
                        <table class="ui unstackable very basic striped table">
	                        <thead>
		                        <tr>
									{{ if $.IsAdmin }}
			                        <th data-column="ID">{{.i18n.Tr "ID"}}</th>
									{{ end }}
									<th data-column="UUID">{{.i18n.Tr "UUID"}}</th>
			                        <th data-column="Name">{{.i18n.Tr "Name"}}</th>
			                        <th data-column="Public IPs">{{.i18n.Tr "Public IPs"}}</th>
			                        <th data-column="Listeners">{{.i18n.Tr "Listeners"}}</th>
			                        <th data-column="Status">{{.i18n.Tr "Status"}}</th>
			                        <th data-column="Hypers">{{.i18n.Tr "Hypers"}}</th>
			                        <th data-column="VPC">{{.i18n.Tr "VPC"}}</th>
		   			        {{ if $.IsAdmin }}
			                        <th data-column="Owner">{{.i18n.Tr "Owner"}}</th>
						{{ end }}
                                    <th data-column="Action">{{.i18n.Tr "Action"}}</th>
		                        </tr>
	                        </thead>
	                        <tbody>
                                {{ $Link := .Link }}
                                {{ range .LoadBalancers}}
		                        <tr>
									{{ if $.IsAdmin }}
			                        <td data-column="ID">{{.ID}}</td>
									{{ end }}
									<td data-column="UUID">{{.UUID}}</td>
			                        <td data-column="Name">{{.Name}}</td>
			                        <td data-column="Public IPs">
							{{ range .FloatingIps}}
								{{.FipAddress }}<br>
							{{ end }}
                                    		</td>
			                        <td data-column="Listeners">
							{{ range .Listeners}}
								{{.Name }}<br>
							{{ end }}
                                    		</td>
			                        <td data-column="Status">{{ $.i18n.Tr .Status }}</td>
			                        <td data-column="Hypers">{{ .VrrpInstance.Hyper }}, {{ .VrrpInstance.Peer }}</td>
			                        <td data-column="VPC">
						{{ if .Router }}
						{{ .Router.Name }}
						{{ end }}
                                    		</td>
		   			        {{ if $.IsAdmin }}
			                        <td data-column="Owner">{{.OwnerInfo.Name}}</td>
						{{ end }}
                                    <td data-column="Action"><div class="ui selection dropdown">
											<input id="action" name="action" type="hidden">
												<i class="dropdown icon"></i>
													<div class="default text">Action
													</div>
														<div class="menu">
															<div class="item" data-value="1" data-text="ShowPublicIps        ">
															<a href="{{$Link}}/{{.ID}}/floatingips">{{$.i18n.Tr "Configure PublicIPs"}}        </a>
															</div>
															<div class="item" data-value="2" data-text="ShowListeners        ">
															<a href="{{$Link}}/{{.ID}}/listeners">{{$.i18n.Tr "Configure Listeners"}}        </a>
															</div>
                                                            <div class="item" data-value="3" data-text="DeleteLoadBalancer        ">
                                                                <a class="delete-button" data-url="{{$Link}}/{{.ID}}" data-id="{{.ID}}" href="javascript:void(0)">{{$.i18n.Tr "Delete Load Balancer"}}        </a>
                                                            </div>
														</div>
										</div>
									</td>
		                        </tr>
                                {{ end }}
	                        </tbody>
                        </table>
		            </div>
		            {{template "_pagination" .}}
	            </div>
            </div>
        </div>
    </div>
    <div class="ui small basic delete modal">
	    <div class="ui icon header">
		    <i class="trash icon"></i>
            {{.i18n.Tr "LoadBalancer Deletion"}}
	    </div>
	    <div class="content">
		    <p>{{.i18n.Tr "LoadBalancer_Deletion_Confirm"}}</p>
	    </div>
	    {{template "_delete_modal_actions" .}}
    </div>
{{template "_footer" .}}