{{template "_head" .}}
<div class="admin user">
    <div class="ui container">
        <div class="ui grid">
            {{template "_left" .}}
            <div class="twelve wide column content">
                <h4 class="ui top attached header">
                    {{.i18n.Tr "Scheduled Task History"}} ({{.i18n.Tr "Total"}}: {{.Total}})
                </h4>
                <div class="ui attached segment">
                    <table class="ui unstackable very basic striped table">
                        <thead>
                            <tr>
                                <th>{{.i18n.Tr "ID"}}</th>
                                <th>{{.i18n.Tr "Status"}}</th>
                                <th>{{.i18n.Tr "Message"}}</th>
                                <th>{{.i18n.Tr "Execution Time"}}</th>
                                <th>{{.i18n.Tr "Duration"}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range .Histories}}
                            <tr>
                                <td>{{.ID}}</td>
                                <td>{{.Status}}</td>
                                <td>{{.Message}}</td>
                                <td>{{.ExecutionTime.Format "2006-01-02 15:04:05"}}</td>
                                <td>{{.Duration}}s</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
                <div class="ui attached segment">
                    {{if .Pages}}
                    <div class="ui pagination menu">
                        {{range .Pages}}
                        <a class="item" href="?offset={{.Offset}}">{{.Number}}</a>
                        {{end}}
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</div>
{{template "_footer" .}}