[
{% for node in process_monitor_targets %}
  {
    "targets": ["{{ node.ip }}:9558"],
    "labels": {
      "node_type": "{{ node.node_type }}",
      "process_monitor_profile": "{{ node.profile }}",
      "host": "{{ node.host }}"
    }
  }{% if not loop.last %},{% endif %}
{% endfor %}
]
