[Unit]
Description=Run Conntrack Collection every {{ conntrack_collection_interval | default('2') }} minutes
Requires=conntrack-collection.service

[Timer]
OnBootSec=10
OnUnitActiveSec={{ conntrack_collection_interval | default('2') }}min
Unit=conntrack-collection.service

[Install]
WantedBy=timers.target

