label_replace(
  ((
    sum by (region, domain, target_device) (
      rate(libvirt_domain_interface_stats_transmit_bytes_total{job="prometheus_libvirt_exporter"}[{{ .duration }}m])
    ) * 8 / 1000000
  ) {{ .operator }} on(region, domain, target_device) group_left(instance_id, tenant_id, rule_uuid)
  (
    last_over_time(vm_bw_out_anchor{rule_uuid="{{ .rule_uuid }}"}[14d]) > 0
  )),
  "alert_type", "bandwidth-out", "", ""
)
